body {
    margin-left: 20px;
    margin-right: 20px;
    background: beige;
    color: #000000;
    font-family: 'Times New Roman', serif;
    font-size: 18px;
}

p {
    text-indent:20px;
}

footer {
    background: #FFE4C4;
    text-align: right;
    height: 20px;
}

h1 {
    text-align: center;
}

header {
    width: 100%;
    height: 90px;
    padding-top: 1px;
    background: #D8E3AB;
    background-image: url(logo.png);
    background-position: 1% center;
    background-size: 150px 80px;
    background-repeat: no-repeat;
}

.scroll-table {
    width:100%;
    border-collapse: collapse;
    border: 3px solid #8FBC8F;
    background-color: #B4EEB4;
}

.scroll-table-body {
	height: 175px;
	overflow-x: auto;
	margin-top: 0px;
	margin-bottom: 20px;
}

.scroll-table table {
	width:100%;
	table-layout: fixed;
	border: none;
}

.scroll-table thead th {
    font-weight: bold;
	background-color: #B4EEB4;
	border: none;
}
.scroll-table tbody td {
	border: 1px solid #8FBC8F;
	text-align: center;
	background-color: #FFF8DC;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
}

img {
    width: 12mm;
    height: 12mm;
}

a:visited {
    color : #8B4726;
}
